# Build
build/
cmake-build-*/

# Compiled
*.o
*.so
*.a
*.exe

# Profiling
*.ncu-rep
*.nsys-rep
*.qdrep

# Editor
.vscode/
.idea/
*.swp

# Python
__pycache__/
*.pyc
.venv/

# Installers
*.run
*.deb

# Logs
*.log

# OS
.DS_Store

# Exported model weights
models/
